{% extends "AppBlog/padre.html" %}

{% load static %}

<!-- Block Pretitulo-->
{% block pretitulo %}



{% endblock %}

<!-- Block Titulo-->
{% block titulo %}

Acerca de Mi

{% endblock %}

<!-- Block Subtitulo-->
{% block subtitulo %}
Acerca de mi
{% endblock %}

<!-- Block Main-->
{% block main %}

<div class="container">
    <h2 class="text-center text-dark">
        Joaquin Lopez Freijido
    </h2>
    <h5 class="text-center text-dark">    
        Senior Investment Associate en OLS Capital<br>Master in Finance | Master in corporate Strategy | CFA
    </h5>
    <br>
    <div class="row g-4">

        <div class="col">
         <div class="">
            <img src="https://media.licdn.com/dms/image/D4D03AQHbQYGpP3wC5Q/profile-displayphoto-shrink_800_800/0/1672751840719?e=1702512000&v=beta&t=orqJuaUXMBwWaKHcsLVokIz21GnC6Pp3JYMuPjphEhQ" alt="Your Name">  
            <div class="text-justify">
                 <p>Hola que tal! 
                    <br><br>Mi nombre es Joaquin y tengo más de una década trabajando en finanzas. 
                    <br><br>A lo largo de mi carrera, me he desempeñado en distintos cargos en las áreas de Banca de Inversión, Fixed Income Research y Wealth Management. 
                    <br><br>Actualmente estoy dando mis primeros pasos con Python, para eventualmente poder incorporar conocimientos de Data Sciente y Data Analytics, los cuales pueden ser muy útiles para mi carrera laboral. 
                    <br><br>¡Gracias por visitar mi página!
                    <br><br>No dejes de visitar mi perfil en LinkedIn: <a href="https://www.linkedin.com/in/joaquinlopezfreijido/" target="_blank">Mi perfil de LinkedIn</a>  
                </p>
              </div>
         </div>
     </div>
    </div>
 </div>
 <br>
 <br>
 <br>
 <br>

{% endblock %}