<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    {% for post in articulos %}

    <p>Titulo: {{post.titulo}}</p>
    <p>Subtitulo: {{post.subtitulo}}</p>
    <p>Texto: {{post.texto}}</p>

    <button>
        <a href="{% url 'PostEditar' post.titulo %}"> Editar Post </a>
    </button>
    
    <button>
        <a href="{% url 'PostEliminar' post.titulo %}"> Eliminar Post </a>
    </button>

    ##############################
    
    {% endfor %}
    
    <br>
    <br>

    <button>
        <a href="{% url 'PostCrear' %}"> Crear Post </a>
    </button>
   
</body>
</html>