{% extends "AppBlog/padre.html" %}

{% load static %}

{% block subtitulo %}

¡Bienvenido! Inicia Sesión

{% endblock %}


{% block searchbar %}
                    
<form action="" method="POST"> {% csrf_token %}
    {{formulario.as_p}}
    <button type"">
        Iniciar Sesión
    </button>
</form>
<!-- Divider-->
<hr class="my-4" /> 

<p>Estamos buscando el Post con el titulo: {{titulo}}</p>

{% for post in post %}

    <p>Titulo: {{post.titulo}} ---- Subtitulo: {{post.subtitulo}}</p>

    
{% endfor %}

{% endblock %}