{% extends "AppBlog/padre.html" %}

{% load static %}

<!-- Block Pretitulo-->
{% block pretitulo %}



{% endblock %}

<!-- Block Titulo-->
{% block titulo %}

WealthWizards

{% endblock %}

<!-- Block Subtitulo-->
{% block subtitulo %}


{% endblock %}

<!-- Block Main-->
{% block main %}
<h1>Estás editando un Recurso</h1>
<br>
<br>
<form action="" enctype="multipart/form-data" method="POST"> {% csrf_token %}
        
    {{form.as_p}}

    <input type="submit" value="Enviar">

    
</form>
<br>
<br>
<br>
<br>
<br>

{% endblock %}